<div x-data="counter()" x-init="fetch()">
  <div x-cloak x-show="count > 0" class="max-w-screen-sm px-4 mx-auto text-center">
    <p class="mb-6 text-2xl">
      There are <span x-text="count" class="text-3xl font-bold text-alpha"></span> news. <a href="/news" class="underline hover:no-underline">Check
        it out!</a>
    </p>
  </div>
</div>
