{% set collection = self.images.collect() ?? null %}

{% if collection %}
  <section class="blocks blocks--transparent">
    <div class="{{ _globals.get('blocksExtraLarge') }}">
      {% if (collection|length) == 1 %}
        {% include "_components/image.twig" with {
          data: {
            image: collection.first(),
            sizes: [640, 1024],
            ratio: "16:9",
            objectFit: false,
            class: "rounded-lg",
            pictureClass: "aspect-video"
          }
        } only %}
      {% else %}
        <ul class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-8">
          {% for item in collection %}
            <li class="bg-white dark:bg-gray-900 aspect-[4/3]">
              {% include "_components/image.twig" with {
                data: {
                  image: item,
                  sizes: [640],
                  ratio: "4:3",
                  class: "rounded-md"
                }
              } only %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if self.caption %}
        <div class="mt-3 {{ _globals.get('richTextSmall') }}">
          {{ self.caption }}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
