<section class="blocks blocks--transparent">
  <div class="{{ style.blocks["lg"] }}">
    <div class="space-y-4">
      {% for item in self.items.collect() %}
        <div x-data="{open: false}" role="region" class="bg-white rounded-lg shadow dark:bg-black">
          <h2 class="block">
            <button x-on:click="open = !open" class="flex items-center justify-between w-full px-6 py-4 text-base font-bold md:text-xl">
                <span class="text-left">{{ item.headline }}</span>
                <span x-show="open == true" aria-hidden="true" class="ml-4" style="">−</span>
                <span x-show="open == false" aria-hidden="true" class="ml-4" style="display: none;">+</span>
            </button>
          </h2>
          <div x-show="open == true" x-collapse="" class="h-auto">
            <div class="px-6 pb-4 {{ style.richText.default }}">
              {{ item.text }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
