<footer class="h-16 mt-24 bg-white dark:bg-black">
  <div class="flex items-center justify-center h-full max-w-screen-xl px-4 mx-auto">
    {{ "now"|date("Y") }} - Lazy Craft CMS 4 Boilerplate
  </div>
</footer>
